Django==5.0.11
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-filter==22.1
django-import-export==3.1.0
tablib==3.8.0
openpyxl==3.1.5
pdfkit==1.0.0
reportlab==4.4.0
weasyprint==66.0
google-generativeai==0.8.5
openai==1.109.1
opencv-python==4.11.0.86
numpy==2.2.5
shortuuid==1.0.13
